.container{
    width: 320px;
    height: 568px;
    display: grid;
    grid-template-rows: 1fr 5fr 2.5fr 1fr;
    grid-gap: 3px;

}

.site-header{
    background-color: lightblue;
    font: bold  25px courier;
    color: white;
    padding-left: 10px ;
}

.site-main{
    background-color: green;
    font: bold  25px courier;
    color: white;
    padding-left: 10px ;
}

.widget-area {
    background-color:mediumpurple;
    font: bold  25px courier;
    color: white;
    padding-left: 10px ;
}

.site-footer {
    background-color: rebeccapurple;
    font: bold  25px courier;
    color: white;
    padding-left: 10px ;
}

@media (min-width: 600px) {
    .container{
        width: 1920px;
        height: 900px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 50% auto 10%;
        grid-gap: 3px;
        grid-template-areas: 
            "h h m m m m "
            "h h m m m m"
            "h h m m m m"
            "h h w w w w"
            "h h w w w w"
            "h h w w w w"
            "h h w w w w"
            "h h f f f f";
    }
    
    .site-header{
        background-color: lightblue;
        font: bold  25px courier;
        color: white;
        padding-left: 10px ;
        grid-area: h;
        
    }
    
    .site-main{
        background-color: green;
        font: bold  25px courier;
        color: white;
        padding-left: 10px ;
        grid-area: m;
    }
    
    .widget-area {
        background-color:mediumpurple;
        font: bold  25px courier;
        color: white;
        padding-left: 10px ;
        grid-area: w;
    }
    
    .site-footer {
        background-color: rebeccapurple;
        font: bold  25px courier;
        color: white;
        padding-left: 10px ;
        grid-area: f;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1800px;
        height: 920px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 50% auto 10%;
        grid-gap: 3px;
        grid-template-areas: 
            "h h h m m m m m m"
            "h h h m m m m m m"
            "h h h m m m m m m"
            "h h h w w w w w w"
            "h h h w w w w w w"
            "h h h w w w w w w"
            "h h h w w w w w w"
            "h h h f f f f f f";
    }
    
    .site-header{
        background-color: lightblue;
        font: bold  25px courier;
        color: white;
        padding-left: 10px ;
        grid-area: h;
        
    }
    
    .site-main{
        background-color: green;
        font: bold  25px courier;
        color: white;
        padding-left: 10px ;
        grid-area: m;
    }
    
    .widget-area {
        background-color:mediumpurple;
        font: bold  25px courier;
        color: white;
        padding-left: 10px ;
        grid-area: w;
    }
    
    .site-footer {
        background-color: rebeccapurple;
        font: bold  25px courier;
        color: white;
        padding-left: 10px ;
        grid-area: f;
    }