header{
    font: bold 40px Papyrus;
    padding-top: 5%;
    color: blanchedalmond;
}

body{
    margin: 0;
    background-image: url('../images/wood-background.jpg');
    background-size: cover;
}

.container{
    border: 1px blanchedalmond solid;
    border-radius: 10px;
    padding-top: 7%;
    padding-bottom: 10%;
    padding-left: 7%;
    background-image: url('../images/bridge.jpeg');
    background-size: cover;
    margin: 10%;
    font: bold 20px Courier New;
    color: black;
}

a{
    font: italic 15px verdana;
    color: blanchedalmond;
    text-decoration: none;
    
}

a:hover{
    color: red;
}

.black-border{ 
    text-align: center;
}

footer{
    padding-bottom: 2%;
    font: italic 25px Brush Script MT;
    color: white;
    text-align: center;
}

.about{
    text-align: center;
}

#romulo{
    font: bold 25px Courier New;
    margin-top: 8%; 
}
